ion-input {
  margin-bottom: 20px;
  height: 80px;
  font-size: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ion-button {
  width: -webkit-fill-available;
  height: 70px;
  font-size: x-large;
  cursor: pointer;

}

.calc_table {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}