<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  
  <table class="calc_table">
    <tr>
      <td colspan="4"><ion-input type="text" id="display" [value]="display" readonly style="text-align: right;"></ion-input></td>
    </tr>

    <tr>
      <td><ion-button (click)="clearDisplay()">C</ion-button></td>
      <td><ion-button (click)="backspace()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button></td>
      <td><ion-button (click)="appendToDisplay('%')">%</ion-button></td>
      <td><ion-button (click)="appendToDisplay('/')">/</ion-button></td>
    </tr>

    <tr>
      <td><ion-button (click)="appendToDisplay('7')">7</ion-button></td>
      <td><ion-button (click)="appendToDisplay('8')">8</ion-button></td>
      <td><ion-button (click)="appendToDisplay('9')">9</ion-button></td>
      <td><ion-button (click)="appendToDisplay('*')"><ion-icon name="close-outline"></ion-icon></ion-button></td>
    </tr>

    <tr>
      <td><ion-button (click)="appendToDisplay('4')">4</ion-button></td>
          <td><ion-button (click)="appendToDisplay('5')">5</ion-button></td>
          <td><ion-button (click)="appendToDisplay('6')">6</ion-button></td>
          <td><ion-button (click)="appendToDisplay('-')"><ion-icon name="remove-outline" aria-hidden="true"></ion-icon></ion-button></td>
    </tr>

    <tr>
      <td><ion-button (click)="appendToDisplay('1')">1</ion-button></td>
          <td><ion-button (click)="appendToDisplay('2')">2</ion-button></td>
          <td><ion-button (click)="appendToDisplay('3')">3</ion-button></td>
          <td><ion-button (click)="appendToDisplay('+')"><ion-icon name="add" aria-hidden="true"></ion-icon></ion-button></td>
    </tr>

    <tr>
      <td><ion-button (click)="appendToDisplay('00')">00</ion-button></td>
          <td><ion-button (click)="appendToDisplay('0')">0</ion-button></td>
          <td><ion-button (click)="appendToDisplay('.')">.</ion-button></td>
          <td><ion-button (click)="calculate()"><ion-icon name="reorder-two-outline"></ion-icon></ion-button></td>
    </tr>
  </table>
</ion-content>